<table>
  <tr>
    <p *ngIf="!ClientInfos"><em>Loading...</em></p>
    <td>
      <label>Step 1: Choose One Client:</label>
    </td>
    <td>
      <select name="ClientInfo" id="ClientInfo">
        <option *ngFor="let client of ClientInfos" [value]="client.clientInfoId">{{client.clientAliasName}}</option>
      </select>
    </td>
  </tr>
  <p></p>
  <tr>
    <td>
      <label>Step 2: Choose File Type:</label>
    </td>

    <td>
      <select name="FileType" id="FileType">
        <option value=".xif">XIF</option>
        <option value=".xml">XML</option>
        <option value=".txt">TXT</option>
        <option value=".csv">CSV</option>
      </select>
    </td>
  </tr>
  <p></p>
  <tr>
    <td>
      <label>Step 3: Choose One Parser :</label>
    </td>

    <td>
      <select name="FileParser" id="FileParser">
        <option value="FileProcess.XIFFileParser">Common File Parser</option>
      </select>
      <p></p>
    </td>
  </tr>
  <p></p>
  <tr>
    <td>
      <label>Step 4: Choose One Processor :</label>
    </td>

    <td>
      <select name="FileType" id="FileType">
        <option value="FileProcess.GBCFileProcessor">Common File Processor</option>
      </select>
      <p></p>
    </td>
  </tr>
  <p></p>
  <tr>
    <td>
      <label>Step 5: Choose one data file and upload to analysis:</label>
    </td>
    <td>
      <form method="post" enctype="multipart/form-data" action="UploadFile">

        <input #file type="file" accept=".xif,.xml,.txt;.csv" />
        <button (click)="upload(file.files)">Upload</button>

        <span style="font-weight:bold;color:green;" *ngIf="progress > 0 && progress < 100">
          {{progress}}%
        </span>

        <span style="font-weight:bold;color:green;" *ngIf="message">
          {{message}}
        </span>
      </form>
    </td>
  </tr>
  <p></p>
  <tr>
    <td>
      <label>Step 6: Click button analysis:</label>
    </td>
    <td>
      <button id="Analysis" (click)="Anaysic(file.files)">Analysis</button>
      <select id="xPath" style="visibility:hidden;"></select>
      <p></p>
    </td>
  </tr>
</table>

<label>Step 7: Set the source,default,isNeedProcess Items :</label>
<p></p>
<div id="templete" class="templete">

</div>

<label>Step 8: Save :</label>

<button id="Savw" (click)=""> Save </button>





